
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  font-family: Lato;
}

header {
    height: 75px;
    border-bottom: 2px solid #3D7DC0;
    background: rgba(255,255,255, 0.5);
}

#logo {
    height: 125px;
    position: absolute;
    top: -25px;
}

nav {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 25px;
}

nav span{
    padding-left: 30px;
    padding-right: 30px;
}

video {
    min-width: 25%;
    min-height: 25%;
    width: 100%;
    height: auto;
    position: relative;
/*    top: -300px;
    z-index: -1;*/
}

#banner {
    position: relative;
    margin-top: -300px;
    z-index: -1;
}

a:link {
    text-decoration: none;
    color: black; 
}

a:visited { 
    text-decoration: none; 
    color: black; 
}

a:hover { 
    text-decoration: none; 
    color:blue;
}

#searchHub {
    height: 200px;
    background-color: #FAFAFA;
    border-bottom: 2px solid #3D7DC0;
}

#featuredListings {
    height: 300px;
    background-color: #4AB967;
    margin: 0 auto;
    border-bottom: 2px solid #3D7DC0;
}

.listing {
    background-color: #3A9C56;
    height: 250px;
    width: 250px;
    float: left;
    margin-left: calc((100% - 1000px)/5);
    margin-top: 25px;
}

#jorgeAyala {
    border-bottom: 2px solid #3D7DC0;
    height: 325px;
}

img{
    height: 300px;
    float: left;
    margin-left: 15%;
    margin-right: 5%;
}

#welcome {
    margin-right: 15%;
}

button {
    width: 90px;
    border-radius: 5px;
    height: 30px;
    background-color: #FFF;
}

#contact {
    background-color: #4AB967;
    height: 600px;
    border-bottom: 2px solid #3D7DC0;
    clear: both;
}

#contactForm {
    height: 500px;
    width: 35%;
    background-color: #F0F0F0;
    float: left;
    margin-left: 15%;
    margin-top: 50px;
    padding: 2%;
}

input {
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
}

textarea {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 5px;
    height: 150px;
    border-style: inset;
    border-width: 2px;
}

textarea:focus,
input:focus {
  background: white;
  border: 1px solid #4AB967;
  outline: none;
  box-shadow: 0 0 6px #4AB967;
}

#contactsubmit {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 20px;
    background-color: #FFF;
}

#phone {
    height: 200px;
    width: 32%;
    float: left;
    margin-top: 50px;
    background-color: #F0F0F0;
    margin-left: 3%;
    margin-right: 15%;
    padding: 2%;
}

#phonerow {
    float: left;
    margin-right: 50px;
}

#address {
    height: 275px;
    background-color: #F0F0F0;
    width: 32%;
    margin-left: 3%;
    margin-right: 15%;
    margin-top: 25px;
    float: left;
    padding: 2%;
}

#address p{
    margin-top: -25px;
}

#address h2{
    margin-top: -10px;
}

footer {
    padding: 20px;
    text-align: center;
}

#about {
    background-color: #366DA7;
    margin-right: 15%;
    margin-left: 15%;
    padding: 2%;
    margin-top: 50px;
}

#experience {
    background-color: #366DA7;
    margin-right: 2%;
    margin-left: 15%;
    width: 34%;
    float: left;
    padding: 2%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#awards {
    background-color: #366DA7;
    margin-right: 15%;
    width: 34%;
    float: left;
    padding: 2%;
    margin-top: 20px;
}

h9 {
    font-size: 12px;
    padding: 10px;
}

#thoughts {
    clear: both;
    background-color: #4AB967;
    border-top: 2px solid #3D7DC0;
    border-bottom: 2px solid #3D7DC0;
    padding-bottom: 20px;
}

#thoughts h1{
    text-align: center;
    font-size: 40px;
}

.thought {
    background-color: #3D7DC0;
    width: 35%;
    font-size: 20px;
    margin-bottom: 10px;
}

.thought p {
    padding: 10px;
}

#thoughtOne {
    position: relative;
    left: 17%;
    border: solid 1px #366DA7;
}    

#thoughtTwo {
    position: relative;
    left: 48%;
    border: solid 1px #366DA7;
} 

#thoughtThree {
    position: relative;
    left: 17%;
    border: solid 1px #366DA7;
} 

#thankyou h1{
    text-align: center;
}

#thankyou p{
    text-align: center;
}

#thankyou {
    border-bottom: 2px solid #3D7DC0;
}

footer {
    clear: both;
}
