
* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

header {
    height: 75px;
    border-bottom: 2px solid #7F7F7F;
    background: rgba(255,255,255, 0.5);
}

#logo {
    height: 125px;
    position: absolute;
    top: -25px;
}

nav {
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    position: relative;
    top: 25px;
}

nav span{
    padding-left: 30px;
    padding-right: 30px;
}

video {
    min-width: 25%;
    min-height: 25%;
    width: 100%;
    height: auto;
    position: relative;
    top: -300px;
    z-index: -1;
}

#banner {
/*    position: relative;
    top: -300px;
    z-index: -1;*/
}

a:link {
    text-decoration: none;
}

a:visited { 
    text-decoration: none; 
    color: black; 
}

a:hover { 
    text-decoration: none; 
    color:blue;
}

#searchHub {
    height: 200px;
    background-color: #FAFAFA;
    border-bottom: 2px solid #7F7F7F;
}

#featuredListings {
    height: 300px;
    background-color: #F0FFF0;
    margin: 0 auto;
    border-bottom: 2px solid #7F7F7F;
}

.listing {
    background-color: #FAFAFA;
    height: 250px;
    width: 250px;
    float: left;
    margin-left: calc((100% - 1000px)/5);
    margin-top: 25px;
}

#jorgeAyala {
    height: 325px;
    border-bottom: 2px solid #7F7F7F;
}

img{
    height: 300px;
    float: left;
    margin-left: 15%;
    margin-right: 5%;
}

#welcome {
    margin-right: 15%;
}

button {
    width: 90px;
    border-radius: 5px;
    height: 30px;
    background-color: #FFF;
}

#contact {
    background-color: #F0FFF0;
    height: 600px;
    border-bottom: 2px solid #7F7F7F;
}

#contactForm {
    height: 500px;
    width: 35%;
    background-color: #DEDEDE;
    float: left;
    margin-left: 15%;
    margin-top: 50px;
    padding: 2%;
}

input {
    width: 90%;
    margin-left: 5%;
    margin-top: 15px;
    border-radius: 5px;
    height: 30px;
}

textarea {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 5px;
    height: 150px;
    border-style: inset;
    border-width: 2px;
}

textarea:focus,
input:focus {
  background: white;
  border: 1px solid #99E2FF;
  outline: none;
  box-shadow: 0 0 6px #99E2FF;
}

#contactsubmit {
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 20px;
    background-color: #FFF;
}

#phone {
    height: 200px;
    width: 32%;
    float: left;
    margin-top: 50px;
    background-color: #DEDEDE;
    margin-left: 3%;
    margin-right: 15%;
    padding: 2%;
}

#phonerow {
    float: left;
    margin-right: 50px;
}

#address {
    height: 275px;
    background-color: #DEDEDE;
    width: 32%;
    margin-left: 3%;
    margin-right: 15%;
    margin-top: 25px;
    float: left;
    padding: 2%;
}

footer {
    height: 50px;
    padding: 3%;
    text-align: center;
}

#about {
    background-color: #DEDEDE;
    margin-right: 15%;
    margin-left: 15%;
    padding: 2%;
    margin-top: 50px;
}

#experience {
    background-color: #DEDEDE;
    margin-right: 2%;
    margin-left: 15%;
    width: 34%;
    float: left;
    padding: 2%;
    margin-top: 20px;
}

#awards {
    background-color: #DEDEDE;
    margin-right: 15%;
    width: 34%;
    float: left;
    padding: 2%;
    margin-top: 20px;
}

h9 {
    font-size: 12px;
}

#thoughts {
    clear: both;
    background-color: #FAFAFA;
}

.thought {
    background-color: #DEDEDE;
    width: 35%;
}

#thankyou h1, p{
    margin: 0 auto;
}

footer {
    clear: both;
}
